body {
  background-color: rgb(23, 20, 33);
  color: rgb(208, 207, 204);
  font-family: "Lucida Console", "Courier New", monospace;

}


#myDIV {
  width: 400px;
  height: 225px;
  background-color: rgb(16, 4, 31);
  color: white;
}

#leapYearResult {
  width: 180px;
  height: 40px;

}


#z1 {
  width: 115px;
  height: 25px;
  text-indent: 5%;
  padding: 7px;
}

#z2 {
  width: 115px;
  height: 25px;
  text-anchor: middle;
  text-indent: 5%;
  padding: 7px;

}